.directory-bar {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: right;
    /* Align the text to the right */

}


.directory-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-spacing: 50px;
    /* Adjust the value as needed */

}


.directory-bar ul li {
    display: inline;
    word-spacing: 1px;
    /* Adjust the value as needed */
}


.directory-bar ul li a {
    text-decoration: none;
    color: rgb(17, 16, 16);
    padding: 5px;
}


.directory-bar ul li a:hover {
    background-color: #12e154;
}


/* Ensure all content is displayed within the viewport */
body, html {
    margin: auto;
    padding: 0;
    height: 100%;
}

/* Container styles */
.container {
    display: Block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Styles for top image */
.top-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-image img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
   
}

/* Styles for bottom image */
.bottom-image img {
    max-width: 100%; /* Responsive max-width */
    height: auto; /* Maintain aspect ratio */
}



.card-aboutme-content {
    text-align: left; /* Align content to the left */
    padding: 20px; /* Add padding for spacing */
    max-width: 80%; /* Responsive max-width */
    margin: 0 auto; /* Center horizontally */
}

.card-aboutme-content h4 {
    color: #36c664; /* Green color for titles */
    font-size: 20px; /* Font size for titles */
}

.card-aboutme-content p {
    margin: 10px 0; /* Add margin to separate paragraphs */
}

.read-more-button {
    display: inline-block; /* Display button inline */
    padding: 1px 2px; /* Padding for button */
    background-color: #72db87; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline from link */
    border-radius: 2px; /* Add border radius for rounded button */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.read-more-button:hover {
    background-color: #5cbf6b; /* Darker background color on hover */
}



/* Responsive styles using media queries */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .card3 {
        max-width: 80%; /*  reduce max-width for smaller screens */
    }

    .button2 {
        margin-right: 20px; /*  adjust margin for smaller screens */
    }
}
