.card {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }
  

  

  .image-container1 img {
    flex:1;
    max-width: 50%; /* Make the image fill the container */
    overflow: hidden;
 }

  
  .image-container2 img {
    flex: 1; /* Take up the other half of the card's width */
    padding: 10px;
    overflow: hidden;
  }
  
