/*layout.css*/
/* Flexbox layout */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 /* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 10fr 10fr;
    gap: 20px;
}





