/* typography.css */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    line-height: 1.8;
}

h1,h2,h3,h4 {
    font-weight: bolder;
    color: #323
}


p{
  font-weight: bolder;
  text-decoration:underline;
}

