/* typography.css */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    line-height: 1.8;
}

h1{
    font-weight: bolder;
    color: #323;
    font-size: 5vw; /* Set font size relative to viewport width */
    text-align: center;

}


p{
  font-weight: bolder;
  text-decoration:underline;
}

