/* typography.css */
body {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  line-height: 1.8;

}


h1 {
  font-weight: bolder;
  color: #323;
  /* Color 1 */
  font-size: 5vw;
  /* Set font size relative to viewport width */
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  /* Adjust the value as needed  */

}


h2 {
  margin-top: 0;
  font-weight: bolder;
  font-size: 100 px;
  color: #222623;
  /* Color 2 */
}


h3 {
  margin-top: 0;
  color: #4cb36d;
  /* Color 3 */
}


h4 {
  font-weight: bold;
  font-size: 1vw;
  margin-top: 0;
  text-align: left;
  color:  #4cb36d;
  /* Color 4 */
}



figcaption {
  display: block;
  font-size: 1vw;
  color:#666;
  margin-left: 450px;

}



p {
  font-weight:300;
  font-size: 10px;
  text-decoration: italic;
  /* Italicize paragraph text */
  color: #666;
  /* Color 2 */
}


/* Additional color for links */
a {
  color: #009688;
  /* Color 3 */
  text-decoration: none;
  /* Remove default underline */
}


a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}